# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
packages/

*.suo
*.vssscc
*.vspscc
*.user
*.nupkg
*.snk
*.dll
*.mdf
*.ldf
out.txt
*.nuspec

# mstest test results
TestResults